.modal-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .modal-form {
    display: flex;
    flex-direction: column;
  }
  
  .modal-form div {
    margin-bottom: 15px;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  